body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/097/706/non_2x/3d-realistic-nebula-space-background-free-photo.jpg");
   background-size: cover;
}
#centering{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
  }
img{
    width: 400px;
    border-style: double;
    border-width: 4px;
    border-color:#7F7C82;
    margin-bottom:10px;
    border-radius: 50px;
}
h1{
    font-family: 'Dancing Script', cursive;
    color: #F3F1F5;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#000;
    border-style: double;
    border-width: 4px;
    border-color:#7F7C82;
    font-weight: bolder;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 50px;
    width: 300px;
}
/* @keyframes blink{
    50% {border-color: transparent}
} */
h2{
    color:#fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    width: 500px;
    animation-duration: 3s;
    animation-name: slidein;
    margin-top:10px;
}

@keyframes slidein {
from {
margin-left: 100%;
width: 300%;
}
75% {
font-size: 150%;
margin-left: 25%;
width: 150%;
}
to {
margin-left: 0%;
width: 100%;
}
}

h3{
    font-family: 'Dancing Script', cursive;
    color: #F3F1F5;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#000;
    border-style: double;
    border-width: 4px;
    border-color:#7F7C82;
    font-weight: bolder;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 50px;
    width: 200px;
}
#bday{
    width:50px;
    
}



@media (max-width:700px) {
img{
    max-width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
}
}

@media (max-width:700px) {
h2{
    max-width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
}
}

